Flask==3.1.2
flask-cors==6.0.2
gunicorn==23.0.0
ccxt==4.4.33
pymongo==4.15.5
werkzeug==3.1.4
apscheduler==3.11.1
pytz==2025.2
python-dotenv==1.0.0
cryptography==46.0.3
requests==2.32.3
urllib3==2.6.2
certifi==2025.11.12
PyJWT==2.8.0